html , body{
	color : red;
}

.navigation{
	background: gray;
	width : 100%;
}

ul {
	list-style-type: none;
}

li{
	display: inline-block;
	margin: 20px;
}

.container{
	margin-right: 35%;
	margin-left:  35%;
	width : 30%;
	border-style: solid;
	border-width: 2px;
}

label {
	display: block;
	padding: 15px;
}

